
.container {
    height: 100px;
    width: fit-content;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.equippedSlot {
    height: 100%;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.554);
}

.hiddenItemSlotsContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    grid-auto-rows: min-content;
}

.hiddenItemSlot {
    height: 18px;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.554);
}